@model IEnumerable<SisJur.Models.Advogado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Advogados</h1>

<p>
    <a asp-action="Create">Novo Advogado</a>
</p>
<table class="table ">
    <thead class="bg-secondary bg-opacity-25">
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idade)
            </th>
            <th>
              AREA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-secondary bg-opacity-25">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area.descricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id">  <span class="glyphicon glyphicon-edit"></span></a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
