@model IEnumerable<SisJur.Models.Vara>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advogado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.juiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorcausa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Processo.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advogado.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.juiz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorcausa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
